<!-- Enhancement: Aligned the content into DIV to make it presentable -->
<div class="stock-wrapper">
  <!-- Task 2: Enabling function call on keyup to eliminate the need of button -->
  <form [formGroup]="stockPickerForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Symbol e.g AAPL"
        formControlName="symbol"
        value="" 
        (keyup)="fetchQuote()"
      />
      <mat-error
        ><span
          *ngIf="
            !stockPickerForm.get('symbol').valid &&
            stockPickerForm.get('symbol').touched
          "
          >Please enter a symbol</span
        >
      </mat-error>
    </mat-form-field>

  <!-- Task 2: Enabling function call on change to eliminate the need of button -->
    <mat-form-field>
      <mat-label>Favorite time period</mat-label>
      <mat-select formControlName="period" (ngModelChange)="fetchQuote()">
        <mat-option
          *ngFor="let timePeriod of timePeriods"
          [value]="timePeriod.value"
        >
          {{ timePeriod.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Task 2: Removing the button as it is no longer required -->
    <!--<button (click)="fetchQuote()" mat-raised-button>Go</button>-->
  </form>
  <coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
</div>
